__pycache__/
*.pyc
*.pyo
processor/__pycache__/
LeagueStatsSGPInvest.xlsx
sgp_venv/
.env
auction_calculator_exports/
projections/
results/
ros/
stats/
rostered.xlsx
temp_players.xlsx
chrome_profile/
fantasysgpsystem-key.json
gcp/sgp-gcs-access.json


